 body, html {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    #video-fondo {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      z-index: -1;
    }


.container{
  margin-top: 30px;
  background-color: black;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  
border-radius: 180px 0 180px 0px;}
 #title {
  top:-30px;
  left: 115px;
      width: 180px;
      height: 290px;
      display: none; /* hidden at first */
  border-radius: 10px;
      text-align: center;
      font-weight: bold;
      position: absolute;
    }
 #gorra {
  top:-82px;
  left: 114px;
      width: 180px;
      height: 290px;
      display: none; /* hidden at first */
  border-radius: 10px;
      text-align: center;
      font-weight: bold;
      position: absolute;
      z-index:-100px
    }

 #gaffas {
  top:-12px;
  left: 114px;
      width: 180px;
      height: 290px;
      display: none; /* hidden at first */
  border-radius: 10px;
      text-align: center;
      font-weight: bold;
      position: absolute;
      z-index:-100px
    }

.show {
  display: block !important; /* show it when we add .show */
}