body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#video-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.container {
  width: 70vw;
  height: 70vh;
  background-color: black;
  color: white;
  padding: 2rem;
  border-radius: 20px;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  text-align: center;
  overflow: auto;
}
